@font-face {
    font-family: "IRANYekan-Regular";
    src: url('../fonts/IRANYekanXFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url('../fonts/IRANYekanXFaNum-Bold.woff') format("woff");
}

body {
    font-family: "IRANYekan-Regular";
    user-select: none;
    overflow-x: hidden;
}

.font-bold {
    font-family: "IRANYekan-Bold";
}

/* background */
.bg-main {
    background-color: #696CFF;
}
.bg-purple{
    background-color: #8500C1;
}
/* text color */
.text-main {
    color: #696CFF;
}
.text-main2{
    color: #355F8F;
}
.text-gray{
    color: #697A8D;
}
/* cursor */
.cursor {
    cursor: pointer;
}

/* z index */
.-z-1 {
    z-index: -1;
}

.z-1 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}
.z-50 {
    z-index: 50;
}
/* font size */
.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

.fs-36 {
    font-size: 36px;
}

/* shadow */
.shadow-main {
    box-shadow: 0px 0px 6px 0px #696CFF!important;
}
.shadow-main2{
    box-shadow: 0px 0px 6px 0px #000000!important;
}
/* max width */
.max-w-100 {
    max-width: 100%;
    width: 100%;
}
.max-w-885{
    max-width: 885px;
    width: 100%;
}
/* width */
.w-16 {
    width: 16px !important;
}
.w-18 {
    width: 18px !important;
}
.w-33 {
    width: 33px !important;
}
.w-35 {
    width: 35px !important;
}
.w-42 {
    width: 42px !important;
}
.w-121 {
    width: 121px !important;
}
.w-175 {
    width: 175px !important;
}
.w-203 {
    width: 203px !important;
}
/* height */
.h-16 {
    height: 16px !important;
}
.h-18 {
    height: 18px !important;
}
.h-28 {
    height: 28px !important;
}
.h-33 {
    height: 33px !important;
}
.h-34 {
    height: 34px !important;
}
.h-35 {
    height: 35px !important;
}
.h-42 {
    height: 42px !important;
}
.h-45 {
    height: 45px !important;
}
.h-55 {
    height: 55px !important;
}
.h-63 {
    height: 63px !important;
}
.h-70{
    height: 70px;
}
/* border */
.border-main-2 {
    border: 2px solid #696CFF;
}
.border-main-3{
    border: 3px solid #696CFF;
}
/* rounded */
.rounded-5{
    border-radius: 5px;
}
.rounded-6{
    border-radius: 6px;
}
.rounded-8{
    border-radius: 8px;
}
/* bottom */
.-bottom-21 {
    bottom: -21px;
}
/* top */
.-top-3 {
    top: -3px;
}
.-top-4 {
    top: -4px;
}
/* left */
.-left-16 {
    left: -16px;
}
.-left-27 {
    left: -27px;
}
/* right */
.-right-9 {
    right: -9px;
}
.right-15 {
    right: 15px;
}
/* outline */
.outline-none {
    outline: none;
}
/* hover */
.right-hover:hover{
    transform: translateX(20px);
}
/* swiper */
.swiper-button-prev{
    left: -50px;
}
.swiper-button-next{
    right: -50px;
}
.swiper-button-prev::after,.swiper-button-next::after {
  font-size: 16px;
  font-weight: bold;
  color: #696CFF;
}
/* global styles */
a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}
.cursor-pointer{
    cursor: pointer;
}
.text-justify{
    text-align: justify;
}
.transition {
    transition: all .4s;
}
.opacity-none{
    opacity: 0;
}
/* header */

header {
    position: relative;
    z-index: 99;
    font-size: 14px;
}

#menuOverlay {
    display: none;
}

header a {
    color: #1f2278 !important;
}

header a:hover,
header a.active,
.teamSocials a:hover {
    color: #f17732 !important;
}

header ul li:hover>a svg,
header ul li.active>a svg {
    transform: rotate(45deg);
}

header ul li ul {
    box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.1);
}

header ul li:hover ul {
    opacity: 100%;
    top: 109px;
    visibility: visible;
}

header ul li>a svg {
    transition: all .5s;
}

header ul ul {
    top: 105px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    position: absolute;
    width: 220px;
}

header ul ul div {
    background-color: white;
}

header ul ul a {
    color: #333c56 !important;
}

header ul ul li:last-child a {
    border-bottom: none;
}

#hamicon.active>div span:first-child {
    display: none !important;
}

#hamicon.active>div span:nth-child(2) {
    transform: rotate(42deg) translateX(2px)translateY(3px);
}

#hamicon.active>div span:last-child {
    transform: rotate(-44deg) translateX(3px)translateY(-3px);
}
/* banner */
#banner{
    background-image: url('../img/bg.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -124px;
}
/* aside */
aside{
    width: 290px;
    background-color: white;
    height: 100vh;
    flex-shrink: 0;
    box-shadow: -5px 5px 6px 1px #696CFF38;
    z-index: 10;
}
aside ul li:hover svg,aside ul li.active svg{
    opacity: 100%;
}
aside ul li a:hover,aside ul li:hover div,aside ul li a.active,aside ul li.active div{
    background-color: #e7e7ff;
    color: #697A8D;
}
.dropdownContent,.dropdownBtn a img{
    transition: all .4s ease-in-out;
}
.dropdownBtn.active a img{
    transform: rotate(180deg);
}
.dropdownContent{
    max-height: 0;
    overflow: hidden;
}
.dropdownContent.active{
    max-height: 2000px;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}
/* responsive */
@media only screen and (max-width:1400px) {}

@media only screen and (max-width:1200px) {

}

@media only screen and (max-width:992px) { 
    #menuOverlay {
        position: fixed;
        inset: 0;
        background-color: #000;
        opacity: .7;
        max-height: 0;
        transition: all .4s;
        display: block;
        z-index: 9;
    }
    
    #menuOverlay.active {
        max-height: 100%;
    }
    .menu{
    position: fixed;
    right: -270px;
    background: white;
    top: 0;
    bottom: 0;
    padding: 31px !important;
    padding-top: 6px!important;
    width: 240px;
    transition: all .4s;
    z-index: 999;
    }
    .menu.active{
        right: 0;
    }
    .swiper-button-next {
      right: 14px;
    }
    .swiper-button-prev{
        left: 14px;
    }
    .h-lg-auto{
        height: auto!important;
    }
}

@media only screen and (max-width:768px) {
    aside{
        position: fixed;
        bottom: 0;
        top: 0;
        right: -300px;
        height: 100vh;
        transition: all .4s ease-in-out;
    }
    aside.active{
        right: 0;
    }
}

@media only screen and (max-width:576px) {
    .fs-sm-10{
        font-size: 10px;
       }
       .fs-sm-12{
        font-size: 12px;
       }
   .fs-sm-15{
    font-size: 15px;
   }
}

@media only screen and (max-width:435px) {
   
}

@media only screen and (min-width:435px) {
  
}